<div class="" id="mc-wallet">
    <app-start-text [open]="open"
                    [text_1]="trans.translate('app.start_1')"
                    [text_2]="trans.translate('app.start_2')"
                    [text_3]="trans.translate('app.start_3')"
                    [text_4]="trans.translate('app.start_4')"
                    [text_5]="trans.translate('app.start_5')">
    </app-start-text>
    <app-cube
            [open]="open"
            [walls]="currencies" (onSelect)="select($event)"></app-cube>
    <div id="mc-nav-bottom">
        <button class="mc-btn-trans-bottom" (click)="startProcess()">
            {{trans.translate('buttons.create_wallet')}}
        </button>
    </div>
    <app-dash [open]="open" (onExit)="openWallet($event)"></app-dash>
    <app-info></app-info>
    <div class="mc-modal">
        <form class="mc-form
        col-xs-12 col-xs-offset-0
        col-sm-8 col-sm-offset-2
        col-md-6 col-md-offset-3
        col-lg-4 col-lg-offset-4"
              id="start-form">
        <div class="input-block exit text-right">
            <button class="mc-btn-trans-bottom" (click)="cancelProcess()">
                <span class="fa">&#xf011;</span>
            </button>
        </div>
        <div class="input-block input-text col-xs-12">
            <label class="col-xs-12">
                {{trans.translate('labels.email')}}
            </label>
            <input class="col-xs-12" type="email"/>
        </div>
        <div class="input-block input-text col-xs-12">
            <label class="col-xs-12">
                {{trans.translate('labels.phone')}}
            </label>
            <input class="col-xs-12" type="text"/>
        </div>
        <div class="input-block input-text col-xs-12">
            <label class="col-xs-12">
                {{trans.translate('labels.passphrase')}}
            </label>
            <input class="col-xs-12" type="password"/>
        </div>
        <div class="input-block input-check col-xs-12">
            <p class="mc-check"
               (click)="setAdvanced()">
                <span class="fa" *ngIf="advanced">&#xf25a;</span>
            </p>
            <label class="">
                {{trans.translate('labels.advanced')}}
            </label>
        </div>
        <span id="advanced-block">
            <div class="input-block input-check col-xs-12">
            <p class="mc-check"
               (click)="local = !local">
                <span class="fa" *ngIf="local">&#xf25a;</span>
            </p>
            <label class="">
                {{trans.translate('labels.local')}}
            </label>
            </div>
                <div class="input-block input-check col-xs-12">
            <p class="mc-check"
               (click)="restore = !restore">
                <span class="fa" *ngIf="restore">&#xf25a;</span>
            </p>
            <label class="">
                {{trans.translate('labels.restore')}}
            </label>
            </div>
        </span>
    </form>
    </div>
</div>